/* stories */
	   
	   /* story */
	   .story .card {
		width: 180px;
	   }
	   
	   .story > div {
		float: left;
	   }
	   
	   /* Lane */
	   
	   .lanes {
		width: calc(100% - 180px);
	   }
	   
	   .lane {
	    min-height: 155px;
		max-height: 400px;
		border:1px solid #999;		
		float: left;
		overflow: auto;
	   }
	   
	   .lane, .titles div {
		width: 25%;
	   }
	   
	   .lane .toolbar {
		height: 20px;
	   }
	   
	   .lane .toolbar button {
		font-size: 12px;
		float: right;
	   }
	   
	   .lane .toolbar button.add {
		background-color: #0b0;
		border: 1px solid #080;
		color: #fff;
	   }
	   
	   /* Board Tile */
	   .tile {
		height: 120px;
		background-color: #fefefe;
		border: 1px solid #ddd;
		padding: 7px;
		width: 170px;
		float: left;
		margin: 4px;
		box-shadow: 2px 2px 12px #888888;
		border-left: solid 6px;
	   }
	   
	   .tile.red {
		border-left-color: #b00;
	   }
	   
	   .tile.green {
		border-left-color: #0b0;
		background-color: rgb(202, 229, 184);
	   }
	   
	   .tile.blue {
		border-left-color: #00b;
		background-color: rgb(218, 250, 255);
	   }
	   
	   .tile .titleContainer .id {
		float: left;
		font-weight: bold;
		margin-right: 8px;
	   }
	   
	   .tile .user {
		color: #888;
	   }
	   
	   .tile img.avatar {
		width: 22px;
		height: 22px;
		position: relative;
		top: -1px;
		margin-right: 4px;
	   }
	   
	   .titles div {
		font-weight: bold;
		font-size: 18px;
		float: left;
	   }
	   
	   /* board */
	   .board {
		background: #f4f4f4;
	   }
	   
	   .board .titles {
	    padding-left: 188px;
	   }
	   
	   textarea#task-description {
		margin: 0px; 
		width: 568px; 
		height: 200px;
	   }
	   